{{ partial "header.html" }}



<div class="strip">
    {{ range where .Site.Pages "Params.row" "1" }}
    <div class="{{.Params.class}}">{{ .Content }}</div>
    {{ end }}
</div>

<div class="strip">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "2" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "3" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "4" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>

<div class="strip">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "5" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>
