{{ partial "header.html" . }}


<div class="strip">
    {{ range where .Site.Pages "Params.row" "frontpage" }}
    <div class="{{.Params.class}}">{{ .Content }}</div>
    {{ end }}
</div>

<!-- About Kane / Contact / Twitter -->
<div class="strip" style="background:#fff">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "kane" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>

<div class="strip" style="background:#FBFBEF">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "cards-1" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>

<div class="strip" style="background:#EFEFFB">
    <div class="container">
        <div class="row">
            {{ range where .Site.Pages "Params.row" "cards-2" }}
            <div class="{{.Params.class}}"><div>{{ .Content }}</div></div>
            {{ end }}
        </div>
    </div>
</div>

{{ partial "footer.html" }}
