<div class="payment">
    <p><span class="label label-primary">Method of payment</span><p>
    <ol>
        <li>Complete the 
            <a href="/pdfs/RegistrationForm.pdf">
                registration form
                <i style="color:red" class="fa fa-file-pdf-o"></i>
            </a>
        </li>
        <li>Please include a cheque payable to: <em>Kane Easter</em></li>
        <li>Mail to:
            <p style="font-family:Roboto; font-size: 80%" 
               class="alert alert-info">
            Kane Easter <br>
            PO Box 30075 Brooklin Towne Centre <br>
            Whitby ON, L1M 0B5
            </p>
        </li>
    </ol>
</div>
